In [1]:
import pandas as pd
import numpy as np

In [2]:
def company_profile(company_ticker_name):
    import textwrap
    import yfinance as yf
    
    try:
        company_ob = yf.Ticker(company_ticker_name)
        profile_info = company_ob.info
        wrap_width = 85
        business_summary = "\n".join(textwrap.wrap(profile_info.get("longBusinessSummary", "N/A"), wrap_width))
        
        # 返回字典格式的公司数据
        company_data = {
            "Short Name": profile_info.get("shortName", "N/A"),
            "Long Name": profile_info.get("longName", "N/A"),
            "Country": profile_info.get("country", "N/A"),
            "Website": profile_info.get("website", "N/A"),
            "Industry": profile_info.get("industry", "N/A"),
            "Sector": profile_info.get("sector", "N/A"),
            "Business Summary": business_summary,
            "Full-time Employees": profile_info.get("fullTimeEmployees", "N/A"),
            "Market Cap": profile_info.get("marketCap", "N/A"),
            "Volume": profile_info.get("volume", "N/A"),
            "Previous Close": profile_info.get("previousClose", "N/A"),
            "Current Price": profile_info.get("currentPrice", "N/A"),
            "Open": profile_info.get("open", "N/A"),
            "Day Low": profile_info.get("dayLow", "N/A"),
            "Day High": profile_info.get("dayHigh", "N/A"),
        }
        return company_data
    except Exception as e:
        # 遇到错误时返回一个带错误信息的字典
        return {"Error": f"无法获取公司数据：{str(e)}"}

In [16]:
import yfinance as yf
company_name='AAPL'

In [4]:
result_data = company_profile(company_name)

In [5]:
result_data

{'Short Name': 'Apple Inc.',
 'Long Name': 'Apple Inc.',
 'Country': 'United States',
 'Website': 'https://www.apple.com',
 'Industry': 'Consumer Electronics',
 'Sector': 'Technology',
 'Business Summary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers,\ntablets, wearables, and accessories worldwide. The company offers iPhone, a line of\nsmartphones; Mac, a line of personal computers; iPad, a line of multi-purpose\ntablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple\nWatch, Beats products, and HomePod. It also provides AppleCare support and cloud\nservices; and operates various platforms, including the App Store that allow\ncustomers to discover and download applications and digital content, such as books,\nmusic, video, games, and podcasts, as well as advertising services include third-\nparty licensing arrangements and its own advertising platforms. In addition, the\ncompany offers various subscription-based services, such as Apple Arcade, a game\nsubscription service; Apple Fitness+, a personalized fitness service; Apple Music,\nwhich offers users a curated listening experience with on-demand radio stations;\nApple News+, a subscription news and magazine service; Apple TV+, which offers\nexclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a\ncashless payment service, as well as licenses its intellectual property. The company\nserves consumers, and small and mid-sized businesses; and the education, enterprise,\nand government markets. It distributes third-party applications for its products\nthrough the App Store. The company also sells its products through its retail and\nonline stores, and direct sales force; and third-party cellular network carriers,\nwholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is\nheadquartered in Cupertino, California.',
 'Full-time Employees': 164000,
 'Market Cap': 3446704701440,
 'Volume': 44555294,
 'Previous Close': 225.0,
 'Current Price': 228.02,
 'Open': 225.2,
 'Day Low': 225.18,
 'Day High': 229.74}

In [6]:
# 英文键名到中文键名的映射字典
key_mapping = {
    "Short Name": "简称",
    "Long Name": "全称",
    "Country": "国家",
    "Website": "官网",
    "Industry": "行业",
    "Sector": "部门",
    "Business Summary": "业务概要",
    "Full-time Employees": "全职员工",
    "Market Cap": "市值",
    "Volume": "交易量",
    "Previous Close": "前收盘价",
    "Current Price": "当前价格",
    "Open": "开盘价",
    "Day Low": "最低价",
    "Day High": "最高价",
    "Error": "错误信息"
}

# 使用 map 和字典推导式将键替换为中文
translated_result = dict(map(lambda item: (key_mapping.get(item[0], item[0]), item[1]), result_data.items()))

In [8]:
translated_result

{'简称': 'Apple Inc.',
 '全称': 'Apple Inc.',
 '国家': 'United States',
 '官网': 'https://www.apple.com',
 '行业': 'Consumer Electronics',
 '部门': 'Technology',
 '业务概要': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers,\ntablets, wearables, and accessories worldwide. The company offers iPhone, a line of\nsmartphones; Mac, a line of personal computers; iPad, a line of multi-purpose\ntablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple\nWatch, Beats products, and HomePod. It also provides AppleCare support and cloud\nservices; and operates various platforms, including the App Store that allow\ncustomers to discover and download applications and digital content, such as books,\nmusic, video, games, and podcasts, as well as advertising services include third-\nparty licensing arrangements and its own advertising platforms. In addition, the\ncompany offers various subscription-based services, such as Apple Arcade, a game\nsubscription service; Apple Fitness+, a personalized fitness service; Apple Music,\nwhich offers users a curated listening experience with on-demand radio stations;\nApple News+, a subscription news and magazine service; Apple TV+, which offers\nexclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a\ncashless payment service, as well as licenses its intellectual property. The company\nserves consumers, and small and mid-sized businesses; and the education, enterprise,\nand government markets. It distributes third-party applications for its products\nthrough the App Store. The company also sells its products through its retail and\nonline stores, and direct sales force; and third-party cellular network carriers,\nwholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is\nheadquartered in Cupertino, California.',
 '全职员工': 164000,
 '市值': 3446704701440,
 '交易量': 44555294,
 '前收盘价': 225.0,
 '当前价格': 228.02,
 '开盘价': 225.2,
 '最低价': 225.18,
 '最高价': 229.74}

In [9]:
def get_financial_numbers(company_ticker_name):
    import yfinance as yf

    company_ob = yf.Ticker(company_ticker_name)
    profile_info = company_ob.info

    # 生成第一个表格数据
    table_data1 = [
        ["Short Name", profile_info.get("shortName", "N/A")],
        ["Long Name", profile_info.get("longName", "N/A")],
        ["Market Cap", profile_info.get("marketCap", "N/A")],
        ["Enterprise Value", profile_info.get("enterpriseValue", "N/A")],
        ["Trailing PE", profile_info.get("trailingPE", "N/A")],
        ["Forward PE", profile_info.get("forwardPE", "N/A")],
        ["PEG Ratio", profile_info.get("pegRatio", "N/A")],
        ["Price to Sales Trailing 12 Months", profile_info.get("priceToSalesTrailing12Months", "N/A")],
        ["Price to Book", profile_info.get("priceToBook", "N/A")]
    ]

    # 生成第二个表格数据
    table_data2 = [
        ["Short Name", profile_info.get("shortName", "N/A")],
        ["Long Name", profile_info.get("longName", "N/A")],
        ["Profit Margins", profile_info.get("profitMargins", "N/A")],
        ["Return on Assets", profile_info.get("returnOnAssets", "N/A")],
        ["Return on Equity", profile_info.get("returnOnEquity", "N/A")], 
        ["Total Revenue", profile_info.get("totalRevenue", "N/A")],
        ["Net Income to Common", profile_info.get("netIncomeToCommon", "N/A")],
        ["Trailing EPS", profile_info.get("trailingEps", "N/A")],
        ["Forward EPS", profile_info.get("forwardEps", "N/A")],
        ["Total Debt/Equity", profile_info.get("debtToEquity", "N/A")],
        ["Free Cash Flow", profile_info.get("freeCashflow", "N/A")]
    ]

    # 返回包含两个表格数据的字典
    return {
        "Valuation Measures": table_data1,
        "Financial Highlights": table_data2
    }

In [10]:
result_data = get_financial_numbers(company_name)

In [11]:
result_data

{'Valuation Measures': [['Short Name', 'Apple Inc.'],
  ['Long Name', 'Apple Inc.'],
  ['Market Cap', 3446704701440],
  ['Enterprise Value', 3500597837824],
  ['Trailing PE', 37.441708],
  ['Forward PE', 27.442894],
  ['PEG Ratio', 'N/A'],
  ['Price to Sales Trailing 12 Months', 8.814313],
  ['Price to Book', 60.53093]],
 'Financial Highlights': [['Short Name', 'Apple Inc.'],
  ['Long Name', 'Apple Inc.'],
  ['Profit Margins', 0.23971],
  ['Return on Assets', 0.21464],
  ['Return on Equity', 1.5741299],
  ['Total Revenue', 391034994688],
  ['Net Income to Common', 93736001536],
  ['Trailing EPS', 6.09],
  ['Forward EPS', 8.31],
  ['Total Debt/Equity', 209.059],
  ['Free Cash Flow', 110846001152]]}

In [12]:
# 英文到中文的映射字典
key_mapping_valuation = {
    "Short Name": "简称",
    "Long Name": "全称",
    "Market Cap": "市值",
    "Enterprise Value": "企业价值",
    "Trailing PE": "市盈率（TTM）",
    "Forward PE": "市盈率（预期）",
    "PEG Ratio": "PEG比率",
    "Price to Sales Trailing 12 Months": "市销率（TTM）",
    "Price to Book": "市净率"
}

key_mapping_financial = {
    "Short Name": "简称",
    "Long Name": "全称",
    "Profit Margins": "利润率",
    "Return on Assets": "资产回报率",
    "Return on Equity": "股本回报率",
    "Total Revenue": "总收入",
    "Net Income to Common": "归属于普通股股东的净利润",
    "Trailing EPS": "每股收益（TTM）",
    "Forward EPS": "每股收益（预期）",
    "Total Debt/Equity": "资产负债率",
    "Free Cash Flow": "自由现金流"
}

# 使用 map 直接转换键
result_data = {
    "估值指标": list(map(lambda x: [key_mapping_valuation.get(x[0], x[0]), x[1]], result_data['Valuation Measures'])),
    "财务亮点": list(map(lambda x: [key_mapping_financial.get(x[0], x[0]), x[1]], result_data['Financial Highlights']))
}

In [13]:
result_data

{'估值指标': [['简称', 'Apple Inc.'],
  ['全称', 'Apple Inc.'],
  ['市值', 3446704701440],
  ['企业价值', 3500597837824],
  ['市盈率（TTM）', 37.441708],
  ['市盈率（预期）', 27.442894],
  ['PEG比率', 'N/A'],
  ['市销率（TTM）', 8.814313],
  ['市净率', 60.53093]],
 '财务亮点': [['简称', 'Apple Inc.'],
  ['全称', 'Apple Inc.'],
  ['利润率', 0.23971],
  ['资产回报率', 0.21464],
  ['股本回报率', 1.5741299],
  ['总收入', 391034994688],
  ['归属于普通股股东的净利润', 93736001536],
  ['每股收益（TTM）', 6.09],
  ['每股收益（预期）', 8.31],
  ['资产负债率', 209.059],
  ['自由现金流', 110846001152]]}

In [14]:
def get_financial_statements(company_name, choice):
    company = yf.Ticker(company_name)

    # 根据选择返回不同的财务报表
    if choice == 1:
        statement = company.balance_sheet
    elif choice == 2:
        statement = company.financials
    elif choice == 3:
        statement = company.cashflow
    else:
        return None  # 错误选择

    # 将 DataFrame 转换为 HTML
    if statement is not None:
        return statement.to_html(classes='table table-bordered')
    else:
        return "<p>该公司没有可用的财务报表数据。</p>"

In [54]:
statement_choice = 1
result_data = get_financial_statements(company_name, statement_choice)

In [55]:
print(result_data)

<table border="1" class="dataframe table table-bordered">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2024-09-30 00:00:00</th>
      <th>2023-09-30 00:00:00</th>
      <th>2022-09-30 00:00:00</th>
      <th>2021-09-30 00:00:00</th>
      <th>2020-09-30 00:00:00</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Treasury Shares Number</th>
      <td>NaN</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Ordinary Shares Number</th>
      <td>15116786000.0</td>
      <td>15550061000.0</td>
      <td>15943425000.0</td>
      <td>16426786000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Share Issued</th>
      <td>15116786000.0</td>
      <td>15550061000.0</td>
      <td>15943425000.0</td>
      <td>16426786000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Net Debt</th>
      <td>76686000000.0</td>
      <td>81123000000.0</td>
      <td>96423000000.0</td>
      <td>89779000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Total Debt</th>
      <td>106629000000.0</td>
      <td>111088000000.0</td>
      <td>132480000000.0</td>
      <td>136522000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Tangible Book Value</th>
      <td>56950000000.0</td>
      <td>62146000000.0</td>
      <td>50672000000.0</td>
      <td>63090000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Invested Capital</th>
      <td>163579000000.0</td>
      <td>173234000000.0</td>
      <td>170741000000.0</td>
      <td>187809000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Working Capital</th>
      <td>-23405000000.0</td>
      <td>-1742000000.0</td>
      <td>-18577000000.0</td>
      <td>9355000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Net Tangible Assets</th>
      <td>56950000000.0</td>
      <td>62146000000.0</td>
      <td>50672000000.0</td>
      <td>63090000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Capital Lease Obligations</th>
      <td>NaN</td>
      <td>12842000000.0</td>
      <td>12411000000.0</td>
      <td>11803000000.0</td>
      <td>9842000000.0</td>
    </tr>
    <tr>
      <th>Common Stock Equity</th>
      <td>56950000000.0</td>
      <td>62146000000.0</td>
      <td>50672000000.0</td>
      <td>63090000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Total Capitalization</th>
      <td>142700000000.0</td>
      <td>157427000000.0</td>
      <td>149631000000.0</td>
      <td>172196000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Total Equity Gross Minority Interest</th>
      <td>56950000000.0</td>
      <td>62146000000.0</td>
      <td>50672000000.0</td>
      <td>63090000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Stockholders Equity</th>
      <td>56950000000.0</td>
      <td>62146000000.0</td>
      <td>50672000000.0</td>
      <td>63090000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Gains Losses Not Affecting Retained Earnings</th>
      <td>-7172000000.0</td>
      <td>-11452000000.0</td>
      <td>-11109000000.0</td>
      <td>163000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Other Equity Adjustments</th>
      <td>-7172000000.0</td>
      <td>-11452000000.0</td>
      <td>-11109000000.0</td>
      <td>163000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Retained Earnings</th>
      <td>-19154000000.0</td>
      <td>-214000000.0</td>
      <td>-3068000000.0</td>
      <td>5562000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Capital Stock</th>
      <td>83276000000.0</td>
      <td>73812000000.0</td>
      <td>64849000000.0</td>
      <td>57365000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Common Stock</th>
      <td>83276000000.0</td>
      <td>73812000000.0</td>
      <td>64849000000.0</td>
      <td>57365000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Total Liabilities Net Minority Interest</th>
      <td>308030000000.0</td>
      <td>290437000000.0</td>
      <td>302083000000.0</td>
      <td>287912000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Total Non Current Liabilities Net Minority Interest</th>
      <td>131638000000.0</td>
      <td>145129000000.0</td>
      <td>148101000000.0</td>
      <td>162431000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Other Non Current Liabilities</th>
      <td>36634000000.0</td>
      <td>34391000000.0</td>
      <td>21737000000.0</td>
      <td>18361000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Tradeand Other Payables Non Current</th>
      <td>9254000000.0</td>
      <td>15457000000.0</td>
      <td>16657000000.0</td>
      <td>24689000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Long Term Debt And Capital Lease Obligation</th>
      <td>85750000000.0</td>
      <td>95281000000.0</td>
      <td>109707000000.0</td>
      <td>119381000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Long Term Capital Lease Obligation</th>
      <td>NaN</td>
      <td>11267000000.0</td>
      <td>10748000000.0</td>
      <td>10275000000.0</td>
      <td>8382000000.0</td>
    </tr>
    <tr>
      <th>Long Term Debt</th>
      <td>85750000000.0</td>
      <td>95281000000.0</td>
      <td>98959000000.0</td>
      <td>109106000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Current Liabilities</th>
      <td>176392000000.0</td>
      <td>145308000000.0</td>
      <td>153982000000.0</td>
      <td>125481000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Other Current Liabilities</th>
      <td>51703000000.0</td>
      <td>50010000000.0</td>
      <td>52630000000.0</td>
      <td>45965000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Current Deferred Liabilities</th>
      <td>8249000000.0</td>
      <td>8061000000.0</td>
      <td>7912000000.0</td>
      <td>7612000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Current Deferred Revenue</th>
      <td>8249000000.0</td>
      <td>8061000000.0</td>
      <td>7912000000.0</td>
      <td>7612000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Current Debt And Capital Lease Obligation</th>
      <td>20879000000.0</td>
      <td>15807000000.0</td>
      <td>22773000000.0</td>
      <td>17141000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Current Capital Lease Obligation</th>
      <td>NaN</td>
      <td>1575000000.0</td>
      <td>1663000000.0</td>
      <td>1528000000.0</td>
      <td>1460000000.0</td>
    </tr>
    <tr>
      <th>Current Debt</th>
      <td>20879000000.0</td>
      <td>15807000000.0</td>
      <td>21110000000.0</td>
      <td>15613000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Other Current Borrowings</th>
      <td>10912000000.0</td>
      <td>9822000000.0</td>
      <td>11128000000.0</td>
      <td>9613000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Commercial Paper</th>
      <td>9967000000.0</td>
      <td>5985000000.0</td>
      <td>9982000000.0</td>
      <td>6000000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Payables And Accrued Expenses</th>
      <td>95561000000.0</td>
      <td>71430000000.0</td>
      <td>70667000000.0</td>
      <td>54763000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Payables</th>
      <td>95561000000.0</td>
      <td>71430000000.0</td>
      <td>70667000000.0</td>
      <td>54763000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Total Tax Payable</th>
      <td>26601000000.0</td>
      <td>8819000000.0</td>
      <td>6552000000.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Income Tax Payable</th>
      <td>26601000000.0</td>
      <td>8819000000.0</td>
      <td>6552000000.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Accounts Payable</th>
      <td>68960000000.0</td>
      <td>62611000000.0</td>
      <td>64115000000.0</td>
      <td>54763000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Total Assets</th>
      <td>364980000000.0</td>
      <td>352583000000.0</td>
      <td>352755000000.0</td>
      <td>351002000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Total Non Current Assets</th>
      <td>211993000000.0</td>
      <td>209017000000.0</td>
      <td>217350000000.0</td>
      <td>216166000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Other Non Current Assets</th>
      <td>55335000000.0</td>
      <td>46906000000.0</td>
      <td>28636000000.0</td>
      <td>38762000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Non Current Deferred Assets</th>
      <td>19499000000.0</td>
      <td>17852000000.0</td>
      <td>15375000000.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Non Current Deferred Taxes Assets</th>
      <td>19499000000.0</td>
      <td>17852000000.0</td>
      <td>15375000000.0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Investments And Advances</th>
      <td>91479000000.0</td>
      <td>100544000000.0</td>
      <td>120805000000.0</td>
      <td>127877000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Other Investments</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>120805000000.0</td>
      <td>127877000000.0</td>
      <td>100887000000.0</td>
    </tr>
    <tr>
      <th>Investmentin Financial Assets</th>
      <td>91479000000.0</td>
      <td>100544000000.0</td>
      <td>120805000000.0</td>
      <td>127877000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Available For Sale Securities</th>
      <td>91479000000.0</td>
      <td>100544000000.0</td>
      <td>120805000000.0</td>
      <td>127877000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Net PPE</th>
      <td>45680000000.0</td>
      <td>43715000000.0</td>
      <td>52534000000.0</td>
      <td>49527000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Accumulated Depreciation</th>
      <td>-73448000000.0</td>
      <td>-70884000000.0</td>
      <td>-72340000000.0</td>
      <td>-70283000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Gross PPE</th>
      <td>119128000000.0</td>
      <td>114599000000.0</td>
      <td>124874000000.0</td>
      <td>119810000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Leases</th>
      <td>14233000000.0</td>
      <td>12839000000.0</td>
      <td>11271000000.0</td>
      <td>11023000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Other Properties</th>
      <td>NaN</td>
      <td>10661000000.0</td>
      <td>10417000000.0</td>
      <td>10087000000.0</td>
      <td>8570000000.0</td>
    </tr>
    <tr>
      <th>Machinery Furniture Equipment</th>
      <td>80205000000.0</td>
      <td>78314000000.0</td>
      <td>81060000000.0</td>
      <td>78659000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Land And Improvements</th>
      <td>24690000000.0</td>
      <td>23446000000.0</td>
      <td>22126000000.0</td>
      <td>20041000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Properties</th>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Current Assets</th>
      <td>152987000000.0</td>
      <td>143566000000.0</td>
      <td>135405000000.0</td>
      <td>134836000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Other Current Assets</th>
      <td>14287000000.0</td>
      <td>14695000000.0</td>
      <td>21223000000.0</td>
      <td>14111000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Inventory</th>
      <td>7286000000.0</td>
      <td>6331000000.0</td>
      <td>4946000000.0</td>
      <td>6580000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Receivables</th>
      <td>66243000000.0</td>
      <td>60985000000.0</td>
      <td>60932000000.0</td>
      <td>51506000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Other Receivables</th>
      <td>32833000000.0</td>
      <td>31477000000.0</td>
      <td>32748000000.0</td>
      <td>25228000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Accounts Receivable</th>
      <td>33410000000.0</td>
      <td>29508000000.0</td>
      <td>28184000000.0</td>
      <td>26278000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Cash Cash Equivalents And Short Term Investments</th>
      <td>65171000000.0</td>
      <td>61555000000.0</td>
      <td>48304000000.0</td>
      <td>62639000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Other Short Term Investments</th>
      <td>35228000000.0</td>
      <td>31590000000.0</td>
      <td>24658000000.0</td>
      <td>27699000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Cash And Cash Equivalents</th>
      <td>29943000000.0</td>
      <td>29965000000.0</td>
      <td>23646000000.0</td>
      <td>34940000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Cash Equivalents</th>
      <td>2744000000.0</td>
      <td>1606000000.0</td>
      <td>5100000000.0</td>
      <td>17635000000.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>Cash Financial</th>
      <td>27199000000.0</td>
      <td>28359000000.0</td>
      <td>18546000000.0</td>
      <td>17305000000.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>

In [21]:
len(result_data)

13289

In [29]:
import re

In [ ]:
result_data_sample = result_data[:550]

In [30]:
result = re.split(r'(<th>)', result_data_sample)

In [31]:
result

['<table border="1" class="dataframe table table-bordered">\n  <thead>\n    <tr style="text-align: right;">\n      ',
 '<th>',
 '</th>\n      ',
 '<th>',
 '2024-09-30 00:00:00</th>\n      ',
 '<th>',
 '2023-09-30 00:00:00</th>\n      ',
 '<th>',
 '2022-09-30 00:00:00</th>\n      ',
 '<th>',
 '2021-09-30 00:00:00</th>\n      ',
 '<th>',
 '2020-09-30 00:00:00</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      ',
 '<th>',
 'Treasury Shares Number</th>\n      <td>NaN</td>\n      <td>0.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 '<th>',
 'Ordinary Shares Number</th>\n      <td>15116786000.0</']

In [33]:
indices = [index for index, value in enumerate(result) if value == '<th>']

In [34]:
indices

[1, 3, 5, 7, 9, 11, 13, 15]

In [37]:
result[indices[6]+1]

'Treasury Shares Number</th>\n      <td>NaN</td>\n      <td>0.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      '

In [39]:
list_minmin = result[indices[6]+1].split("</th>")

In [42]:
list_minmin[0] = replace_list[0]

In [44]:
'</th>'.join(list_minmin)

'TSN</th>\n      <td>NaN</td>\n      <td>0.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      '

In [41]:
replace_list = ["TSN","OSN"]

In [27]:
result_data_sample_list = result_data_sample.split('<th>')

In [28]:
result_data_sample_list

['<table border="1" class="dataframe table table-bordered">\n  <thead>\n    <tr style="text-align: right;">\n      ',
 '</th>\n      ',
 '2024-09-30 00:00:00</th>\n      ',
 '2023-09-30 00:00:00</th>\n      ',
 '2022-09-30 00:00:00</th>\n      ',
 '2021-09-30 00:00:00</th>\n      ',
 '2020-09-30 00:00:00</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      ',
 'Treasury Shares Number</th>\n      <td>NaN</td>\n      <td>0.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Ordinary Shares Number</th>\n      <td>15116786000.0</']

In [56]:
result = re.split(r'(<th>)', result_data)

In [57]:
indices = [index for index, value in enumerate(result) if value == '<th>']

In [49]:
indices

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 101,
 103,
 105,
 107,
 109,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 127,
 129,
 131,
 133,
 135,
 137,
 139,
 141,
 143,
 145,
 147]

In [53]:
result[indices[6]+1::2]

['Treasury Shares Number</th>\n      <td>NaN</td>\n      <td>0.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Ordinary Shares Number</th>\n      <td>15116786000.0</td>\n      <td>15550061000.0</td>\n      <td>15943425000.0</td>\n      <td>16426786000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Share Issued</th>\n      <td>15116786000.0</td>\n      <td>15550061000.0</td>\n      <td>15943425000.0</td>\n      <td>16426786000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Net Debt</th>\n      <td>76686000000.0</td>\n      <td>81123000000.0</td>\n      <td>96423000000.0</td>\n      <td>89779000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Total Debt</th>\n      <td>106629000000.0</td>\n      <td>111088000000.0</td>\n      <td>132480000000.0</td>\n      <td>136522000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Tangible Book Value</th>\n      <td>56950000000.0</td>\n      <td>62146000000.0</td>\n      <td>50672000000.0</td>\n      <td>63090000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Invested Capital</th>\n      <td>163579000000.0</td>\n      <td>173234000000.0</td>\n      <td>170741000000.0</td>\n      <td>187809000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Working Capital</th>\n      <td>-23405000000.0</td>\n      <td>-1742000000.0</td>\n      <td>-18577000000.0</td>\n      <td>9355000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Net Tangible Assets</th>\n      <td>56950000000.0</td>\n      <td>62146000000.0</td>\n      <td>50672000000.0</td>\n      <td>63090000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Capital Lease Obligations</th>\n      <td>NaN</td>\n      <td>12842000000.0</td>\n      <td>12411000000.0</td>\n      <td>11803000000.0</td>\n      <td>9842000000.0</td>\n    </tr>\n    <tr>\n      ',
 'Common Stock Equity</th>\n      <td>56950000000.0</td>\n      <td>62146000000.0</td>\n      <td>50672000000.0</td>\n      <td>63090000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Total Capitalization</th>\n      <td>142700000000.0</td>\n      <td>157427000000.0</td>\n      <td>149631000000.0</td>\n      <td>172196000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Total Equity Gross Minority Interest</th>\n      <td>56950000000.0</td>\n      <td>62146000000.0</td>\n      <td>50672000000.0</td>\n      <td>63090000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Stockholders Equity</th>\n      <td>56950000000.0</td>\n      <td>62146000000.0</td>\n      <td>50672000000.0</td>\n      <td>63090000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Gains Losses Not Affecting Retained Earnings</th>\n      <td>-7172000000.0</td>\n      <td>-11452000000.0</td>\n      <td>-11109000000.0</td>\n      <td>163000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Other Equity Adjustments</th>\n      <td>-7172000000.0</td>\n      <td>-11452000000.0</td>\n      <td>-11109000000.0</td>\n      <td>163000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Retained Earnings</th>\n      <td>-19154000000.0</td>\n      <td>-214000000.0</td>\n      <td>-3068000000.0</td>\n      <td>5562000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Capital Stock</th>\n      <td>83276000000.0</td>\n      <td>73812000000.0</td>\n      <td>64849000000.0</td>\n      <td>57365000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Common Stock</th>\n      <td>83276000000.0</td>\n      <td>73812000000.0</td>\n      <td>64849000000.0</td>\n      <td>57365000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Total Liabilities Net Minority Interest</th>\n      <td>308030000000.0</td>\n      <td>290437000000.0</td>\n      <td>302083000000.0</td>\n      <td>287912000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Total Non Current Liabilities Net Minority Interest</th>\n      <td>131638000000.0</td>\n      <td>145129000000.0</td>\n      <td>148101000000.0</td>\n      <td>162431000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Other Non Current Liabilities</th>\n      <td>36634000000.0</td>\n      <td>34391000000.0</td>\n      <td>21737000000.0</td>\n      <td>18361000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Tradeand Other Payables Non Current</th>\n      <td>9254000000.0</td>\n      <td>15457000000.0</td>\n      <td>16657000000.0</td>\n      <td>24689000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Long Term Debt And Capital Lease Obligation</th>\n      <td>85750000000.0</td>\n      <td>95281000000.0</td>\n      <td>109707000000.0</td>\n      <td>119381000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Long Term Capital Lease Obligation</th>\n      <td>NaN</td>\n      <td>11267000000.0</td>\n      <td>10748000000.0</td>\n      <td>10275000000.0</td>\n      <td>8382000000.0</td>\n    </tr>\n    <tr>\n      ',
 'Long Term Debt</th>\n      <td>85750000000.0</td>\n      <td>95281000000.0</td>\n      <td>98959000000.0</td>\n      <td>109106000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Current Liabilities</th>\n      <td>176392000000.0</td>\n      <td>145308000000.0</td>\n      <td>153982000000.0</td>\n      <td>125481000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Other Current Liabilities</th>\n      <td>51703000000.0</td>\n      <td>50010000000.0</td>\n      <td>52630000000.0</td>\n      <td>45965000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Current Deferred Liabilities</th>\n      <td>8249000000.0</td>\n      <td>8061000000.0</td>\n      <td>7912000000.0</td>\n      <td>7612000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Current Deferred Revenue</th>\n      <td>8249000000.0</td>\n      <td>8061000000.0</td>\n      <td>7912000000.0</td>\n      <td>7612000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Current Debt And Capital Lease Obligation</th>\n      <td>20879000000.0</td>\n      <td>15807000000.0</td>\n      <td>22773000000.0</td>\n      <td>17141000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Current Capital Lease Obligation</th>\n      <td>NaN</td>\n      <td>1575000000.0</td>\n      <td>1663000000.0</td>\n      <td>1528000000.0</td>\n      <td>1460000000.0</td>\n    </tr>\n    <tr>\n      ',
 'Current Debt</th>\n      <td>20879000000.0</td>\n      <td>15807000000.0</td>\n      <td>21110000000.0</td>\n      <td>15613000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Other Current Borrowings</th>\n      <td>10912000000.0</td>\n      <td>9822000000.0</td>\n      <td>11128000000.0</td>\n      <td>9613000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Commercial Paper</th>\n      <td>9967000000.0</td>\n      <td>5985000000.0</td>\n      <td>9982000000.0</td>\n      <td>6000000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Payables And Accrued Expenses</th>\n      <td>95561000000.0</td>\n      <td>71430000000.0</td>\n      <td>70667000000.0</td>\n      <td>54763000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Payables</th>\n      <td>95561000000.0</td>\n      <td>71430000000.0</td>\n      <td>70667000000.0</td>\n      <td>54763000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Total Tax Payable</th>\n      <td>26601000000.0</td>\n      <td>8819000000.0</td>\n      <td>6552000000.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Income Tax Payable</th>\n      <td>26601000000.0</td>\n      <td>8819000000.0</td>\n      <td>6552000000.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Accounts Payable</th>\n      <td>68960000000.0</td>\n      <td>62611000000.0</td>\n      <td>64115000000.0</td>\n      <td>54763000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Total Assets</th>\n      <td>364980000000.0</td>\n      <td>352583000000.0</td>\n      <td>352755000000.0</td>\n      <td>351002000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Total Non Current Assets</th>\n      <td>211993000000.0</td>\n      <td>209017000000.0</td>\n      <td>217350000000.0</td>\n      <td>216166000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Other Non Current Assets</th>\n      <td>55335000000.0</td>\n      <td>46906000000.0</td>\n      <td>28636000000.0</td>\n      <td>38762000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Non Current Deferred Assets</th>\n      <td>19499000000.0</td>\n      <td>17852000000.0</td>\n      <td>15375000000.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Non Current Deferred Taxes Assets</th>\n      <td>19499000000.0</td>\n      <td>17852000000.0</td>\n      <td>15375000000.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Investments And Advances</th>\n      <td>91479000000.0</td>\n      <td>100544000000.0</td>\n      <td>120805000000.0</td>\n      <td>127877000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Other Investments</th>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>120805000000.0</td>\n      <td>127877000000.0</td>\n      <td>100887000000.0</td>\n    </tr>\n    <tr>\n      ',
 'Investmentin Financial Assets</th>\n      <td>91479000000.0</td>\n      <td>100544000000.0</td>\n      <td>120805000000.0</td>\n      <td>127877000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Available For Sale Securities</th>\n      <td>91479000000.0</td>\n      <td>100544000000.0</td>\n      <td>120805000000.0</td>\n      <td>127877000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Net PPE</th>\n      <td>45680000000.0</td>\n      <td>43715000000.0</td>\n      <td>52534000000.0</td>\n      <td>49527000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Accumulated Depreciation</th>\n      <td>-73448000000.0</td>\n      <td>-70884000000.0</td>\n      <td>-72340000000.0</td>\n      <td>-70283000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Gross PPE</th>\n      <td>119128000000.0</td>\n      <td>114599000000.0</td>\n      <td>124874000000.0</td>\n      <td>119810000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Leases</th>\n      <td>14233000000.0</td>\n      <td>12839000000.0</td>\n      <td>11271000000.0</td>\n      <td>11023000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Other Properties</th>\n      <td>NaN</td>\n      <td>10661000000.0</td>\n      <td>10417000000.0</td>\n      <td>10087000000.0</td>\n      <td>8570000000.0</td>\n    </tr>\n    <tr>\n      ',
 'Machinery Furniture Equipment</th>\n      <td>80205000000.0</td>\n      <td>78314000000.0</td>\n      <td>81060000000.0</td>\n      <td>78659000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Land And Improvements</th>\n      <td>24690000000.0</td>\n      <td>23446000000.0</td>\n      <td>22126000000.0</td>\n      <td>20041000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Properties</th>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Current Assets</th>\n      <td>152987000000.0</td>\n      <td>143566000000.0</td>\n      <td>135405000000.0</td>\n      <td>134836000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Other Current Assets</th>\n      <td>14287000000.0</td>\n      <td>14695000000.0</td>\n      <td>21223000000.0</td>\n      <td>14111000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Inventory</th>\n      <td>7286000000.0</td>\n      <td>6331000000.0</td>\n      <td>4946000000.0</td>\n      <td>6580000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Receivables</th>\n      <td>66243000000.0</td>\n      <td>60985000000.0</td>\n      <td>60932000000.0</td>\n      <td>51506000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Other Receivables</th>\n      <td>32833000000.0</td>\n      <td>31477000000.0</td>\n      <td>32748000000.0</td>\n      <td>25228000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Accounts Receivable</th>\n      <td>33410000000.0</td>\n      <td>29508000000.0</td>\n      <td>28184000000.0</td>\n      <td>26278000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Cash Cash Equivalents And Short Term Investments</th>\n      <td>65171000000.0</td>\n      <td>61555000000.0</td>\n      <td>48304000000.0</td>\n      <td>62639000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Other Short Term Investments</th>\n      <td>35228000000.0</td>\n      <td>31590000000.0</td>\n      <td>24658000000.0</td>\n      <td>27699000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Cash And Cash Equivalents</th>\n      <td>29943000000.0</td>\n      <td>29965000000.0</td>\n      <td>23646000000.0</td>\n      <td>34940000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Cash Equivalents</th>\n      <td>2744000000.0</td>\n      <td>1606000000.0</td>\n      <td>5100000000.0</td>\n      <td>17635000000.0</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      ',
 'Cash Financial</th>\n      <td>27199000000.0</td>\n      <td>28359000000.0</td>\n      <td>18546000000.0</td>\n      <td>17305000000.0</td>\n      <td>NaN</td>\n    </tr>\n  </tbody>\n</table>']